@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    padding-top: 40px;
    background-image: url(../images/header/header-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list-item{
        display: inline-block;
        margin-right: 50px;
    }
    &__list-link{
        color: #FFFFFF;
    }
    &__btn{
        background-color: #07AF91;
        border: none;
        border-radius: 10px;
        padding: 13px 42px;
        cursor: pointer;
    }
    &__link{
        color: #FFFFFF;
    }
    &__content{
        margin-top: 180px;
        padding-bottom: 150px;
    }
    &__content-title{
        max-width: 769px;
        text-transform: uppercase;
        @extend %title;
        font-size: 43px;
        line-height: 60px;
        position: relative;
        & span{ 
            background-color:#07AF91;
            border-radius: 3px;
            margin-left: -11px;
            padding: 0 11px;
        }
        &-1{
            display: none;
            position: absolute;
            text-align: center;
            max-width: 769px;
            text-transform: uppercase;
            @extend %title;
            font-size: 43px;
            line-height: 60px;
            position: relative;
            & span{ 
                background-color:#07AF91;
                border-radius: 3px;
                margin-left: -11px;
                padding: 0 11px;
            }
        }
    }
    &__content-subtitle{
        margin-bottom: 34px;
        font-size: 34px;
        line-height: 80px;
        font-weight: 400;

        &-1{
            display: none;
            margin-bottom: 34px;
            font-size: 18px;
            line-height: 80px;
            font-weight: 400;
            text-align: center;
            & span{
                padding: 5px;
                font-weight: 700;
                border-radius: 3px;
                color: #07AF91;
                background-color: #FFFFFF;
            }
        }
    }
    &__content-btn{
        background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
        border-radius: 10px;
        border: none;
        padding:18px 33px;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            transition: all .3s;
            background: linear-gradient(#016CA8);
            box-shadow:inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__content-link{
        color: #FFFFFF;
        font-weight: 600;
        font-size: 20px;
        line-height: 40px;
    }
    &__lowMenu-btn{
        border: none;
        border-radius: 5px;
        padding: 19px 10px;
        margin-left: 10px;
        display: none;
        &-open{

        }
        &-close{
            display: block;
            z-index: 11;
        }
    }
    &__lowMenu-img{
        height: 20px;
        width: 40px;
    }
    &__btns{
        display: flex;
    }
    &__lowMenu--open{
        display: none;
        position: absolute;
        height: 200vh;
        background: rgba(0, 0, 0, 0.59);
        right: -200px;
        left: -200px;
        z-index: 10;
    }
    &__lowMenu-list{
        display: block;
        background: #07AF91;
        width: 100%;
        height: 150vh;
        z-index: 11;
    }
    &__lowMenu-link{
        display: flex;
        width: 100px;
        height: 100px;
        z-index: 12;
        position: relative;
        justify-content: center;
    }
    &__lowMenu-btn-close{
        display: none;
    }
    &__inputinner{
        display: none;
        position: absolute;
        width: 91vw;
        background-color: #FFFFFF;
        border-radius: 5px;
        top: 40%;
        left: 5vw;
        z-index: 20;
        padding-bottom: 20px;
        &--open{
            display: block;
        }
    }
    &__input{
        margin: 0 7vw;
        width: 79vw;
        margin-bottom: 10px;
        border: none;
        background: #F1F1F1;
        border-radius: 5px;
        height: 40px;
        font-weight: 400;
        font-size: 14px;
        padding-left: 20px;
        color: #707070;
        &::placeholder{
            font-weight: 400;
            font-size: 14px;
            color: #707070;
        }
    }
    &__input-title{
        color: #000000;
        font-size: 16px;
        line-height: 80px;
        font-weight: 600;
        text-align: center;
    }
    &__inputback{
        background: none;
        border: none;
    }
    &__inputbtn{
        border: none;
        background: #07AF91;
        border-radius: 5px;
        margin: 0px 7vw;
    }
    &__inputlink{
        font-weight: 500;
        font-size: 14px;
        line-height: 40px;
        color: #FFFFFF;
        padding: 0 37vw;
    }
    &__input-link{
        text-decoration-line: underline;
        font-weight: 500;
        font-size: 12px;
        line-height: 50px;
        color: #07AF91;
        margin: 0 30vw;
        margin-bottom: 20px;
    }
}
.services{
    padding-top: 90px;
    &__title{
        @extend %title;
        color: $title;
        font-size: 36px;
        line-height: 80px;
        margin-bottom: 110px;
    }
    &__top{
        margin-bottom: 190px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
    } 
    &__top-title,
    &__bottom-title{
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $title;
        margin-bottom: 25px;
    }
    &__top-text,
    &__bottom-text{
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        max-width:674px;
        margin-right: 47px;
        margin-bottom: 20px;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
    }
    &__bottom-inner{
        margin-left: 112px;
    }
    &__img{
        width: 385px;
        height:255px;
    }
    &__btn{
        background: #07AF91;
        border-radius: 10px;
        padding: 15px 74px;
        border: none;
        cursor: pointer;
    }
    &__link{
        font-weight: 600;
        font-size: 18px;
        line-height: 35px;
        color: #FFFFFF;
    }
}
.about-us{
    padding-bottom: 100px;
    
    &__title{
        @extend %title;
        color: #1178B2;
        font-size: 36px;
        line-height: 80px;
        margin-bottom: 35px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        &:not(:last-child){
            margin-right: 20px;
        }
    }
    &__item-num{
        font-weight: 800;
        font-size: 80px;
        line-height: 20px;
        color: rgba(17, 120, 178, 0.5);
        padding-top: 87px;
        margin-bottom: 60px;
    }
    &__item-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }
    &__item-text{
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #000000;
        padding: 15px 30px 35px;
    }
}
.consultation{
    background-image: url(../images/consultation-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align:center;
    padding-top: 130px;
    padding-bottom: 170px;
    margin-bottom: 100px;
    &__title{
        font-size: 33px;
        line-height: 60px;
        text-transform: uppercase;
        width: 100%;
        padding: 5px 0 8px 38px;
        background: #07AF91;
        border-radius: 3px;
        font-weight: 700;
        &-1{
            font-size: 33px;
            line-height: 60px;
            text-transform: uppercase;
            width: 100%;
            padding: 5px 0 8px 38px;
            display: none;
            border-radius: 3px;
            font-weight: 700;
        }
        &-1 span{
            background: #07AF91;
            padding: 15px;
        }
    }
    &__subtitle{
        font-size: 20px;
        line-height: 60px;
        margin-bottom: 20px;
        padding: 0 42px;
    }
    &__btn{
        display: inline-block;
        font-weight: 600;
        font-size: 20px;
        line-height: 80px;
        padding: 0px 38px;
        background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
        &:hover{
            transition: all .3s;
            background: linear-gradient(#016CA8);
            box-shadow:inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}
.market{
    padding-bottom: 570px;
    &__title{
        @extend %title;
        color: #1178B2;
        font-size: 36px;
        line-height: 80px;
        margin-bottom: 35px;
    }
    &__content-bar{
        display: flex;
        position: relative;
    }
    &__content-img{
        position: absolute;
        padding-top: 75px;
        z-index: -1;
    }
    &__content-baritem-1,
    &__content-baritem-2,
    &__content-baritem-3,
    &__content-baritem-4{
        border: none;
        font-weight:400;
        font-size: 20px;
        line-height: 60px;
        color: #000000;
        padding: 5px 30px;
        background: #EEF1F4;
        border-radius: 5px;
        width: 304px;
        &-active{
            font-weight: 700;
            background: #88BBD8;
            border-radius: 5px;
            color: #FFFFFF;
        }
    }
    
    &__content-inner-1{
       display: flex;
       position: absolute;
       justify-content: space-between; 
       opacity:1;
       z-index: 1;
    }
    &__content-inner-2{
        display: flex;
        position: absolute;
        justify-content: space-between;
        opacity:0;
        z-index: -1;
     }
     &__content-inner-3{
        display: flex;
        position: absolute;
        justify-content: space-between; 
        opacity:0;
        z-index: -1;
     }
     &__content-inner-4{
         display: flex;
         position: absolute;
         justify-content: space-between;
         opacity:0;
         z-index: -1;
      }

    &__content-leftpath{
        margin-top: 60px;
    }
    &__content-lefttitle{
        font-weight: 600;
        font-size: 32px;
        line-height: 41px;
        text-transform: uppercase;
        color: #000000;
        width: 294px;
        margin-bottom: 29px;
        & span{
            color: #07AF91;
        }  
    }
    &__content-lefttext{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        width: 265px;
        margin-bottom: 30px;
    }
    &__content-leftbtn{
        display: inline-block;
        padding: 0 35px;
        font-weight: 600;
        font-size: 18px;
        line-height: 80px;
        background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
        border-radius: 10px;
        margin-bottom: 50px;
        border: none;
        cursor: pointer;
        &:hover{
            transition: all .3s;
            background: linear-gradient(#016CA8);
            box-shadow:inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__content-link{
        font-weight: 600;
        font-size: 18px;
        line-height: 80px;
        color: #FFFFFF;
        padding: 0 40px;
        
    }
    &__content-rightpath{
        padding-top:56px;
        padding-left: 134px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap:20px;
    }
    &__content-rightitem{
        padding: 64px 30px;
        width: 289px;
        height: 200px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        &-two{
            padding: 64px 22px;
        }
        &-four{
            cursor: pointer;
            display: inline-block;
            padding:45px 61px;
            width: 289px;
            height: 200px;
            border: none;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            background: #1178B2;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            & img{
                margin: 0 auto;
                margin-bottom: 25px;
            }
        }
        &-four-2{
            cursor: pointer;
            display: inline-block;
            padding:45px 61px;
            width: 289px;
            height: 200px;
            border: none;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            background: #11b23f;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            & img{
                margin: 0 auto;
                margin-bottom: 25px;
            }
        }
        &-four-3{
            cursor: pointer;
            display: inline-block;
            padding:45px 61px;
            width: 289px;
            height: 200px;
            border: none;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            background: #b21e11;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            & img{
                margin: 0 auto;
                margin-bottom: 25px;
            }
        }
        &-four-4{
            cursor: pointer;
            display: inline-block;
            padding:45px 61px;
            width: 289px;
            height: 200px;
            border: none;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            background: #b21194;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            & img{
                margin: 0 auto;
                margin-bottom: 25px;
            }
        }
    }
    &__content-rightnum{
        font-weight: 800;
        font-size: 48px;
        line-height: 20px;
        color: rgba(17, 120, 178, 0.5);
        margin-bottom: 30px;
        & span{
        font-size: 24px;
        line-height: 20px;
        }
    }
    &__content-righttext{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: rgba(16, 16, 16, 0.5);
    }
    &__content-adaptive{
        display: none;
    }
}
.market__avatar{
    display: flex;
    align-items: center;
    &-img{
        border-radius: 50%;
        width: 62px;
        height: 62px;
        margin-right: 10px;
    }
    &-name{
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #000000;
    }
    &-status{
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #727272;
    }
}
.axelerator{
    &__title{
        @extend %title;
        font-size: 36px;
        line-height: 80px;
        color: #1178B2;
    }
    &__text{
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 20px;
    }
    &__block{
        display: flex;
        margin-bottom: 20px;
    }
    &__block-item{
        width: 392px;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        padding: 75px 0px;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
    &__block-img{
        display: inline-block;
        margin-bottom: 30px;
    }
    &__block-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        font-family: 'Inter', sans-serif;
    }
}
.axelerator__video{
    margin-bottom: 105px;   
    background: #0F0F0F;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    padding-bottom:194px;
    &-title{
        padding-top:230px;
        font-weight: 600;
        font-size: 20px;
        line-height: 60px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    &-play{
        display: inline-block;
        background:transparent;
    }
}
.moduls{
    margin-bottom: 100px;
    &__title{
        font-size: 36px;
        line-height: 80px;
        @extend %title;
        color: #1178B2;
        margin-bottom: 20px;
    }
    &__items{

    }
    &__item{
        display: block; 
        margin-bottom: 20px;
        background: #FFFFFF;
        width: 100%;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        cursor: pointer;
    }
    &__item-close-1,
    &__item-close-2,
    &__item-close-3,
    &__item-close-4,
    &__item-close-5,
    &__item-close-6,
    &__item-close-7,
    &__item-close-8,
    &__item-close-9{
        display: flex;
        justify-content: space-between;
    }
    &__item-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 60px;
        color: #000000;
        padding: 15px 0px 26px 50px;
        & span{ 
            font-weight: 700;
            font-size: 20px;
            line-height: 60px;
            color: #2A79C2;
            margin-right: 11px;
        }
        &:last-child{
            padding: 20px 0px 20px 50px;
        }
    }
    &__item-title-1,
    &__item-title-2,
    &__item-title-3,
    &__item-title-4,
    &__item-title-5,
    &__item-title-6,
    &__item-title-7,
    &__item-title-8,
    &__item-title-9{
        font-weight: 500;
        font-size: 20px;
        line-height: 60px;
        color: #000000;
        padding: 15px 0px 26px 50px;
    }
    &__open-1,
    &__open-2,
    &__open-3,
    &__open-4,
    &__open-5,
    &__open-6,
    &__open-7,
    &__open-8,
    &__open-9{
        display: none; 
    }
    &__open-active{
        display: block;
    }
    &__open-text{
        color: #000000;
        padding: 5px 0px 5px 50px;
        font-weight: 400;
        font-size: 16px;
        line-height: 60px;
        position: relative;
        &::after{
            position: absolute;
            content: " ";
            height: 1px;
            width:100%;
            background:#E9E9E9;
            top: 0;
            left: 0;
        }
    }
    &__item-arrow-1,
    &__item-arrow-2,
    &__item-arrow-3,
    &__item-arrow-4,
    &__item-arrow-5,
    &__item-arrow-6,
    &__item-arrow-7,
    &__item-arrow-8,
    &__item-arrow-9{
        width: 39px;
        height: 39px;
        margin:auto 50px auto 0px;
    }
    &__btn{
        display: inline-block;
        background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
        border-radius: 10px;
        padding: 5px 46px;
        border: none;
        &:hover{
            transition: all .3s;
            background: linear-gradient(#016CA8);
            box-shadow:inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__link{
        font-weight: 600;
        font-size: 18px;
        line-height: 80px;
        color: #FFFFFF;
    }
}
.partners{
    background-image: url(../images/bg-part.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-bottom: 105px;
    &__block{
       display: flex; 
       justify-content: space-between;
    }
}
.partners__left{
    width: 556px;
    &-title{
        @extend %title;
        font-size: 40px;
        line-height: 60px;
        margin-top: 89px;
        margin-bottom: 17px;
    }
    &-text{
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 16px;
    }
    &-btn{
        background: #07AF91;
        border-radius: 10px;
        border: none;
        margin-bottom: 93px; 
    }
    &-link{
        padding: 5px 36px;
        font-weight: 600;
        font-size: 18px;
        line-height: 80px;
        color: #FFFFFF;   
    }
}
.partners__right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:20px;
    padding: 60px 0;
    &-item{
        width: 206px;
        height: 112px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    &-img{
        padding:40px 30px;
        &-1{
            padding:30px 40px;
        }
        &-2{
            padding:15px 60px;
        }
    }
}
.result{
    padding-bottom: 100px;
    &__title{
        font-size: 36px;
        line-height: 80px;
        color: #1178B2;
        @extend %title;
        margin-bottom: 20px;
    }
    &__items{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap:20px;
    }
    &__item{
        max-width: 392px;
        height: 280px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        text-align: center;
    }
    &__item-numb{
        margin-top: 59px;
        font-weight: 800;
        font-size: 80px;
        line-height: 20px;
        color: rgba(17, 120, 178, 0.5);
        margin-bottom: 40px;
    }
    &__item-title,
    &__item-text{
        margin-left:45px;
    }
    &__item-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 5px;    
    }
    &__item-text{
        color: #000000;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
    }
}
.price{
    margin-bottom: 100px;
    &__title{
        @extend %title;
        font-size: 36px;
        line-height: 80px;
        color: #1178B2;
        margin-bottom: 35px;
    }
    &__items{
        display: flex;
        
    }
    &__item{
        text-align: center;
        width: 392px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        &:not(:last-child){
            margin-right: 20px;
        }
    }
    &__item-img{
        display: inline-block;
        text-align: center;
        margin-top: 32px;
    }
    &__item-title{
        width: 270px;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: #1B1B1B;
        margin:15px auto 28px;
        &-2{
            width: 240px;
        }
        &-3{
            width: 173px;
        }
    }
    &__item-subtitle,
    &__item-list{
        margin-left: 40px;
        width: 288px;
        text-align: left;
    }
    &__item-subtitle{
        font-weight: 500;
        font-size: 18px;
        line-height: 60px;
        color: #000000;
        position: relative;
        &::before{
            content: " ";
            width: 372px;
            position: absolute;
            height: 1px;
            background: #E3E3E3;
            top: 0;
            left: -41px;
        }
    }
    &__item-list{
        margin-bottom: 46px;
        margin-left: 57px;
        &-2{
            margin-bottom: 11px;
        }
    }
    &__item-components{
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        color: #000000;
    }
    &__item-info{
        width: 290px;
        margin:0 40px;
        font-weight: 500;
        font-size: 18px;
        line-height: 60px;
        color: #000000;
        text-align: left;
        position: relative;
        &::before{
            content: " ";
            width: 372px;
            position: absolute;
            height: 1px;
            background: #E3E3E3;
            top: 0;
            left: -41px;
        }
        & span{
            float:right;
            font-weight: 400;
            font-size: 16px;
            line-height: 60px;
            color: #000000;
        }
        &price span{
            font-weight: 700;
            font-size: 18px;
            line-height: 60px;
            color: #1178B2;
        }
    }
    &__item-btn{
        margin-top: 20px;
        margin-bottom: 30px;
        background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
        border-radius: 10px;
        border: none;
        padding: 0px 65px;
        &:hover{
            transition: all .3s;
            background: linear-gradient(#016CA8);
            box-shadow:inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__item-link{
        font-weight: 600;
        font-size: 18px;
        line-height: 70px;
        color: #FFFFFF;
    }
}

.whous{
    margin-bottom: 100px;
    &__title{
        font-size: 36px;
        line-height: 80px;
        color: #1178B2;
        @extend %title;
        margin-bottom: 35px;
    }
    &__block{
        display: flex;
        margin-bottom: 100px;
    }
    &__img{
        width: 585px;

        margin-right: 90px;
    }
    &__text{
        margin-top: 110px;
        font-weight: 300;
        font-size: 17px;
        line-height: 30px;
        color: #000000;
        & span{
            font-weight: 600;
            color:#2386BE;
        }
       
    }
}
.whous__two{
    &-block{
        display:flex;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        margin-bottom: 100px;
    }
    &-img{
        width: 378px;
        height: 402px;
        margin-left:65px;
        margin-right: 116px;
    }
    &-text{
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        color: #000000;
        width: 545px;
        margin:44px 46px 47px 0px;
        &-1{
            display: none;
        }
    }
    &-name{
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        color: #000000;
    }
    &-work{
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        color: #000000;
    }
    &-inner{
        display: flex;
    }
}
.whous__three{
    &-block{
        display: flex;
    }
    &-img{
        border-radius: 10px;
        width: 227px;
        height: 158px;
        padding-right: 10px;
        &:not(:last-child){
            margin-right:5px;
        }
    }
}
.experts{
    margin-bottom: 100px;
    &__title{
        font-size: 36px;
        line-height: 80px;
        color: #1178B2;
        @extend %title;
        margin-bottom: 20px;
    }
    &__slider{
        display: flex;
    }
    &__slider__prev-img,
    &__slider__next-img{
        height: 39px;
        width: 39px;
        margin-top: 7%;
    }

    &__item{
        position: relative;
        text-align: center;
    }
    &__avatar{
        display: inline-block  !important;
        text-align: center;
        width: 186px;
        height: 186px;
        border-radius: 10px;
    }
    &__avatar-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 10px;
    }
    &__avatar-subtitle{
        display: inline-block;
        text-align: center;
        width: 230px;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
    }
} 
.partners-second{
    margin-bottom: 100px;
    &__title{
        font-size: 36px;
        line-height: 80px;
        color: #1178B2;
        @extend %title;
        margin-bottom: 30px;
    }
    &__block{
        display: grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-rows:repeat(1,1fr);
        gap: 20px;
    }
    &__item{
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        width: 100%;
        height: 100px;
        &-1{
            padding: 35px 68px;
        }
        &-2{
            padding: 33px 72px;
        }
        &-3{
            padding: 25px 92px;
        }
        &-4{
            padding: 20px 112px;
        }
        &-5{
            padding: 3px 43px 12px 43px;
        }
        &-6{
            padding: 3px 110px;
        }
        &-7{
            padding: 30px;
        }
        &-8{
            padding: 25px 65px;
        }
    }
}
.international{
    background-image: url(../images/bg-internation.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-bottom: 100px;
    text-align: center;
    padding: 137px 0px;
    &__title{
        font-size: 40px;
        line-height: 60px;
        @extend %title;
        margin-bottom: 20px;
        margin-left: 100px;
    }
    &__subtitle{
        margin-left: 220px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
        max-width: 761px;
    }
    &__btn{
        font-weight: 600;
        font-size: 18px;
        line-height: 80px;
        padding:0px 79px;
        background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
        &:hover{
            transition: all .3s;
            background: linear-gradient(#016CA8);
            box-shadow:inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}
.events{
    margin-bottom: 100px;
    &__title{
        font-size: 36px;
        line-height: 80px;
        color: #1178B2;
        @extend %title;
        margin-bottom: 35px;
    }
    &__block{ 
        display: flex;
    }
    &__item{
        width: 50%;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        &:not(:last-child){
            margin-right:20px;
        }
    }
    &__item-img{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 140px;
    }
    &__item-title,
    &__item-text,
    &__item-date{
        margin-left: 30px;
    }
    &__item-title{
        margin-top: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 10px;
    }
    &__item-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 35px;
    }
    &__item-date{
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 25px;
    }
}

.footer{

}
.questions{
    margin-bottom: 20px;
    background-image: url(../images/form-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 65px 0px;
    &__block{
        display: flex;
    }
    &-form{
        background: #FFFFFF;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding:25px 42px;
    }
    &-form__name,
    &-form__email,
    &-form__tel{
        border: none;
        width: 513px;
        border-bottom:1px solid #E4E4E4;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 60px;
        color: #707070;
        &::placeholder{
            font-weight: 400;
            font-size: 16px;
            line-height: 60px;
            color: #707070;
            padding-bottom: 20px;
        }
    }
    &-form__btn{
        margin-top: 20px;
        padding: 0px 45px;
        border: none;
        background: #07AF91;
        border-radius: 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 70px;
        color: #FFFFFF;
    }
}
.questions__left{
    margin-right: 132px;
    &-title{
        font-size: 36px;
        line-height: 60px;
        @extend %title;
        margin-bottom: 7px;
    }
    &-subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
        width: 466px;
        margin-bottom: 107px;
    }
    &-links{
        display: flex;
    }
    &-text{
        font-weight: 600;
        font-size: 20px;
        line-height: 60px;
        margin-bottom: 7px;
    }
    &-link{
        display: flex;
        margin-left: -30px;
        & span{
            padding-top: 7%;
            margin-left: -4%;
            font-weight: 400;
            font-size: 20px;
            line-height: 60px;
            color: #FFFFFF;
        }
        &:first-child{
            margin-right: 58px;
        }
    }
}
.copyright{
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 50px 0px 0px 0px;
    &__block{
        display: flex;
    }
    &__leftpath{
        width: 452px;
        margin-right: 140px;
    }
    &__leftpath-logo{
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        & span{
            color: #1e97dd;
        }
    }
    &__leftpath-text{
        font-weight: 300;
        font-size: 14px;
        line-height: 30px;
    }
    &__list{
        display: flex;
        margin-right: 100px;
    }
    &__item{
        margin-right: 52px;
        min-width: 77px;
    }
    &__link{
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
    }
    &__rightpath{
        margin-top: -25px;
    }
    &__rightpath-place{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    &__rightpath-mail{
        font-weight: 400;
        font-size: 14px;
        line-height: 60px;
        color: #FFFFFF;
    }
}
@import '_media';